.endalas-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: 20px;
}

.leftCol aside {
  position: fixed;
  height: 100%;
  overflow: auto;
  padding-right: 50px;
}

.mainCol article {
  margin-top: 0;
}

.img-container {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 50px;
}
.img-preview {
  grid-column-start: 1;
  grid-column-end: 2;
  overflow: hidden;
  object-fit: contain;
}
.img-preview img {
  width: 100%;
}
.img-properties {
  padding-right: 50px;
}
.img-properties table {
  font-size: 75%;
}
.img-properties th,
.img-properties tfoot td {
  font-size: 110%;
}
