.hero {
  background-color: #394046;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)),
    url("/public/hero.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px 0;
}

.hero h2 {
  color: white;
}
